pi/node-red.txt
[{"id":"62f14912.961648","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"70408a72.43fbec","type":"inject","z":"62f14912.961648","name":"Loop 10s","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"2","x":242,"y":151,"wires":[["6c332576.b1146c"]]},{"id":"6c332576.b1146c","type":"exec","z":"62f14912.961648","command":"python /home/pi/humi.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":484.9999694824219,"y":159,"wires":[["21f1dbd8.7891fc"],[],[]]},{"id":"6622f371.da9c64","type":"debug","z":"62f14912.961648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":908,"y":530,"wires":[]},{"id":"ec4115eb.a90c78","type":"function","z":"62f14912.961648","name":"","func":"hum= msg.payload['humidity']/100;\ntemp= msg.payload['temperature']/100;\nmsg1={};\n\n\nmsg1.payload= hum;\nmsg.payload= temp;\n\n\nmsg3={};\nmsg3.payload = [\n    {\n        measurement: \"salon\",\n        fields: {\n            temp: temp,\n            humidity: hum\n        },\n        timestamp: new Date()\n    },\n\n];\n\nreturn [msg,msg1,msg3];","outputs":3,"noerr":0,"x":872,"y":146.99998474121094,"wires":[["5e4a56d8.bbdb48","beaefdfe.c0dd58"],["e7d81a2b.bf29e","fa195357.02ddf"],["3902470.02ee13a"]]},{"id":"e7d81a2b.bf29e","type":"ui_gauge","z":"62f14912.961648","name":"","group":"cae58ea0.75f4","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"10","max":"100","colors":["#804000","#00ff00","#ca3838"],"seg1":"45","seg2":"65","x":1173,"y":156.99998474121094,"wires":[]},{"id":"5e4a56d8.bbdb48","type":"ui_gauge","z":"62f14912.961648","name":"","group":"cae58ea0.75f4","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"15","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":109.99998474121094,"wires":[]},{"id":"731f517f.6aefe","type":"influxdb out","z":"62f14912.961648","influxdb":"a7b4f2c1.e69f3","name":"","measurement":"","precision":"","retentionPolicy":"","x":723.5,"y":409.5999450683594,"wires":[]},{"id":"1be225b4.59ddba","type":"function","z":"62f14912.961648","name":"","func":"msg.payload = [\n    {\n        measurement: \"salon\",\n        fields: {\n            temp: 5.5,\n            humidity: 51\n        },\n        timestamp: new Date()\n    },\n\n];\nreturn msg;","outputs":1,"noerr":0,"x":426.4999694824219,"y":500.9999694824219,"wires":[["731f517f.6aefe"]]},{"id":"929c87c8.76e158","type":"inject","z":"62f14912.961648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88.49996948242188,"y":476.9999694824219,"wires":[["1be225b4.59ddba"]]},{"id":"3902470.02ee13a","type":"influxdb batch","z":"62f14912.961648","influxdb":"a7b4f2c1.e69f3","precision":"","retentionPolicy":"","name":"","x":1206.5,"y":222.59996032714844,"wires":[]},{"id":"fa195357.02ddf","type":"ui_chart","z":"62f14912.961648","name":"","group":"cae58ea0.75f4","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1172.5,"y":279,"wires":[[],[]]},{"id":"f84ecb55.87f3","type":"inject","z":"62f14912.961648","name":"Initial ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":228.44998168945312,"y":74,"wires":[["73a5ceb1.cac66","90555abe.bd83e8"]]},{"id":"73a5ceb1.cac66","type":"exec","z":"62f14912.961648","command":"python /home/pi/config-tinker.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":499.1166687011719,"y":85.11666870117188,"wires":[[],[],[]]},{"id":"21f1dbd8.7891fc","type":"json","z":"62f14912.961648","name":"","property":"payload","action":"","pretty":false,"x":719.449951171875,"y":153.10000610351562,"wires":[["ec4115eb.a90c78"]]},{"id":"beaefdfe.c0dd58","type":"ui_chart","z":"62f14912.961648","name":"","group":"cae58ea0.75f4","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1184.11669921875,"y":325.1166687011719,"wires":[[],[]]},{"id":"90555abe.bd83e8","type":"exec","z":"62f14912.961648","command":"sudo python3 /home/pi/led.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Switch off led on raspberry","x":491.1166687011719,"y":32.116668701171875,"wires":[[],[],[]]},{"id":"cae58ea0.75f4","type":"ui_group","z":"","name":"Salon","tab":"1f86fd18.a3a5cb","disp":false,"width":"6","collapse":false},{"id":"a7b4f2c1.e69f3","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"home","name":"","usetls":false,"tls":""},{"id":"1f86fd18.a3a5cb","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]