pi/node-red.txt
[{"id":"726eeb6c.a0f96c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c7a698f1.cb7fc","type":"serial in","z":"726eeb6c.a0f96c","name":"","serial":"7008fc4c.867d34","x":70,"y":760,"wires":[["e5e776f2.e0f848"]]},{"id":"5af41c46.116404","type":"mqtt in","z":"726eeb6c.a0f96c","name":"Motion detected","topic":"motion/detected","qos":"0","broker":"f7329d38.b1de38","x":140,"y":560,"wires":[["30cce600.b8de6a"]]},{"id":"65599a5f.fbb19c","type":"mqtt out","z":"726eeb6c.a0f96c","name":"","topic":"lcd/write","qos":"","retain":"","broker":"f7329d38.b1de38","x":840,"y":560,"wires":[]},{"id":"4c11ae31.25f3c","type":"inject","z":"726eeb6c.a0f96c","name":"Initialisation","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":80,"wires":[["43c71cda.bb4f04"]]},{"id":"176d1993.a26f66","type":"influxdb out","z":"726eeb6c.a0f96c","influxdb":"19825e29.adc18a","name":"","measurement":"","precision":"","retentionPolicy":"","x":680,"y":200,"wires":[]},{"id":"4517a8d.6dc5358","type":"inject","z":"726eeb6c.a0f96c","name":"Query air quality and display","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[["4b25f893.fa131"]]},{"id":"25a2e9e3.7719e6","type":"function","z":"726eeb6c.a0f96c","name":"","func":"data = msg.payload;\nmsg.measurement=\"node1\";\nmsg.payload = [\n    [{\n        voltage: data.col5,\n        rssi: data.col2\n    },\n    {\n        node:\"node1\",\n        location:\"test\"\n    }]];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":760,"wires":[[]]},{"id":"e5e776f2.e0f848","type":"csv","z":"726eeb6c.a0f96c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":250,"y":760,"wires":[["25a2e9e3.7719e6"]]},{"id":"43c71cda.bb4f04","type":"exec","z":"726eeb6c.a0f96c","command":"python /home/pi/home/pi/initial.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":610,"y":100,"wires":[[],[],[]]},{"id":"30cce600.b8de6a","type":"trigger","z":"726eeb6c.a0f96c","op1":"{\"type\":\"on\"}","op2":"{\"type\":\"off\"}","op1type":"json","op2type":"json","duration":"2","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":470,"y":560,"wires":[["65599a5f.fbb19c"]]},{"id":"aff40d7f.7f94a8","type":"debug","z":"726eeb6c.a0f96c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":260,"wires":[]},{"id":"4b25f893.fa131","type":"influxdb in","z":"726eeb6c.a0f96c","influxdb":"19825e29.adc18a","name":"Query air quality","query":"SELECT \"humidity\",\"temperature\",\"IAQ_index\",\"air_quality\" FROM \"home\".\"autogen\".\"data\" WHERE time > now() - 20s","rawOutput":false,"precision":"","retentionPolicy":"","x":420,"y":340,"wires":[["304ed917.5d72de"]]},{"id":"4d7a424.1c99e3c","type":"mqtt out","z":"726eeb6c.a0f96c","name":"","topic":"lcd/write","qos":"","retain":"","broker":"f7329d38.b1de38","x":860,"y":340,"wires":[]},{"id":"304ed917.5d72de","type":"function","z":"726eeb6c.a0f96c","name":"","func":"data=msg.payload[0];\n\ntest={\"type\":\"write\"};\ntest.line1=\"Temperature: \" + data['temperature'];\ntest.line2=\"Humidity: \"+ data['humidity'];\ntest.line3=\"IAQ index: \"+ data['IAQ_index'];\ntest.line4=\"Air qu.: \"+ data['air_quality'];\nmsg.payload=test;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":340,"wires":[["4d7a424.1c99e3c"]]},{"id":"7008fc4c.867d34","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"f7329d38.b1de38","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"19825e29.adc18a","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"home","name":"","usetls":false,"tls":""}]