pi/node-red.txt
[{"id":"c41c2d98.e82bf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"76b5fa1.d1e2104","type":"serial in","z":"c41c2d98.e82bf8","name":"","serial":"bf276ead.d955c8","x":190,"y":440,"wires":[["df14830a.b7324"]]},{"id":"a23ae4c2.acdbf8","type":"debug","z":"c41c2d98.e82bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":380,"wires":[]},{"id":"cd57a226.7358c","type":"mqtt in","z":"c41c2d98.e82bf8","name":"Temperature","topic":"tinkerforge/bricklet/humidity_v2/DeD/temperature","qos":"2","broker":"1c20ad9d.654352","x":210,"y":260,"wires":[[]]},{"id":"24f2b74.bd6a148","type":"mqtt in","z":"c41c2d98.e82bf8","name":"Humidity","topic":"tinkerforge/bricklet/humidity_v2/DeD/humidity","qos":"2","broker":"1c20ad9d.654352","x":200,"y":320,"wires":[[]]},{"id":"bf61af5e.b5fb4","type":"mqtt out","z":"c41c2d98.e82bf8","name":"","topic":"","qos":"","retain":"","broker":"1c20ad9d.654352","x":590,"y":580,"wires":[]},{"id":"409f767c.098928","type":"inject","z":"c41c2d98.e82bf8","name":"Initialisation","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":80,"wires":[[]]},{"id":"371fcab0.8a76d6","type":"influxdb out","z":"c41c2d98.e82bf8","influxdb":"ddda9b91.a9ff7","name":"","measurement":"","precision":"","retentionPolicy":"","x":980,"y":240,"wires":[]},{"id":"bde8656d.51182","type":"inject","z":"c41c2d98.e82bf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":600,"wires":[[]]},{"id":"b5512656.6935d8","type":"function","z":"c41c2d98.e82bf8","name":"","func":"data = msg.payload;\nmsg.measurement=\"node1\";\nmsg.payload = [\n    [{\n        voltage: data.col5,\n        rssi: data.col2\n    },\n    {\n        node:\"node1\",\n        location:\"test\"\n    }]];\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[["371fcab0.8a76d6"]]},{"id":"df14830a.b7324","type":"csv","z":"c41c2d98.e82bf8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":370,"y":440,"wires":[["b5512656.6935d8"]]},{"id":"bf276ead.d955c8","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"1c20ad9d.654352","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ddda9b91.a9ff7","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"home","name":"","usetls":false,"tls":""}]